body {
    margin: 0;
}

.RectangleShape {
    position: absolute;
    overflow: hidden; /* To avoid .Label being too wide */
}

.PolygonShape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    stroke: blue;
    fill: none;/*rgba(119, 154, 200, 0.2);*/
    stroke-width: 0.2;
    pointer-events: none;
}

.PolygonShape polygon {
    pointer-events: visible;
}

.Page {
    position: relative; /* To allow absolute positioning inside it. */
}

.ProductLink {
    outline: 1px solid blue;
    /*border: 3px solid blue;*/
    /*box-sizing:border-box;*/
}

.ExternalLink {
    outline: 1px solid blue;
}

.InternalLink {
    outline: 1px solid blue;
}

.CustomLink {
    outline: 1px solid blue;
}

.Video {
    outline: 1px solid blue;
}

.PageRepresentation {
    height: 100%;
    width: 100%;
}

.Label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 10px;
    white-space: nowrap;
}