body {
    margin: 0;
}

.RectangleShape {
    position: absolute;
    overflow: hidden; /* To avoid .Label being too wide */
    outline: 1px solid;
}

.PolygonShape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    fill: none;
    stroke-width: 0.2;
    pointer-events: none;
}

.PolygonShape polygon {
    pointer-events: visible;
}

.ProductLink.ManualProduct {
    outline-color: blue;
}

.ProductLink.DatabaseProduct {
    outline-color: blue;
}

.ExternalLink {
    outline-color: blue;
}

.InternalLink {
    outline-color: blue;
}

.CustomLink {
    outline-color: blue;
}

.Video {
    outline-color: blue;
}

.ProductDetailsWidget {
    stroke: blue;
}

.BuyTheLookWidget {
    stroke: blue;
}


.Page {
    position: relative; /* To allow absolute positioning inside it. */
}

.PageRepresentation {
    height: 100%;
    width: 100%;
}

.Label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 10px;
    white-space: nowrap;
}