body {
    margin: 0;
}

.Shape:hover {
    cursor: pointer;
}

.RectangleShape {
    position: absolute;
    overflow: hidden; /* To avoid .Label being too wide */
    outline: 1px solid;
    background-color: rgba(0, 0, 200, 0.03);
}

.RectangleShape:hover {
    background-color: rgba(0, 0, 200, 0.1);
}

.PolygonShape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    fill: rgba(0, 0, 200, 0.03);
    stroke-width: 0.2;
    fill-rule: evenodd;
    pointer-events: none; /* The page-sized polygon positioning container should not capture events. */
}

.PolygonShape:hover {
    fill: rgba(0, 0, 200, 0.1);
}

.PolygonShape polygon {
    pointer-events: visible;
}

.ProductLink.ManualProduct {
    outline-color: blue;
}

.ProductLink.DatabaseProduct {
    outline-color: blue;
}

.ExternalLink {
    outline-color: blue;
}

.InternalLink {
    outline-color: blue;
}

.CustomLink {
    outline-color: blue;
}

.VideoEnrichment {
    outline-color: blue;
}

.ProductDetailsWidget {
    stroke: blue;
}

.BuyTheLookWidget {
    stroke: blue;
}


.Page {
    position: relative; /* To allow absolute positioning inside it. */
}

.Page:last-of-type {
    clear: both;
}

.PageRepresentation {
    height: 100%;
    width: 100%;
}

.Label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    font-family: sans-serif;
    white-space: nowrap;
    padding: 0 1px;
}

.Enrichment .Label {
    font-size: 10px;
}

.Page > .Label {
    font-size: 14px;
}